{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="produits">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{"Photo" |trans}}</th>
                        <th scope="col">{{"Nom" |trans}}</th>
                        <th scope="col">{{"Quantité" |trans}}</th>
                        <th scope="col">{{"Prix" |trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td><img src="{{ asset('assets/images/' ~ produit.photo) }}" class="card-img-top w-25" /></td>
                            <td><a href="{{path('produit', {id: produit.id})}}">{{produit.nom}}</a></td>
                            <td>{{produit.quantite}}</td>
                            <td>{{produit.prix}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="formProd">
            {{form(produitForm)}}
        </div>
    </div>
{% endblock %}
